<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
<Robot type="FirstInspires-FTC">
    <LynxUsbDevice name="Control Hub Portal" serialNumber="(embedded)" parentModuleAddress="173">
        <LynxModule name="Expansion Hub 2" port="2">
            <RevRobotics20HDHexMotor name="Arm_Motor" port="0" />
            <goBILDA5202SeriesMotor name="Left_Front" port="1" />
            <RevRobotics20HDHexMotor name="Right_Intake" port="2" />
            <goBILDA5202SeriesMotor name="Left_Back" port="3" />
            <Servo name="LServo" port="0" />
            <AnalogInput name="absEncoder" port="1" />
        </LynxModule>
        <LynxModule name="Control Hub" port="173">
            <goBILDA5202SeriesMotor name="Right_Front" port="0" />
            <goBILDA5202SeriesMotor name="Right_Back" port="1" />
            <goBILDA5202SeriesMotor name="Arm_Left" port="2" />
            <goBILDA5202SeriesMotor name="Arm_Right" port="3" />
            <ContinuousRotationServo name="HolderServo_Left" port="0" />
            <Servo name="RServo" port="1" />
            <ContinuousRotationServo name="HolderServo_Right" port="2" />
            <Servo name="WristServo" port="3" />
            <KauaiLabsNavxMicro name="NavX" port="0" bus="1" />
            <ControlHubImuBHI260AP name="imu" port="0" bus="0" />
        </LynxModule>
    </LynxUsbDevice>
    <Webcam name="webcam1" serialNumber="SN0001" />
</Robot>
